<%- include('../layouts/main') %>


<div class="text-center">
  <h1>404 - Resource Not Found.</h1>
  <p>Unable to find the requested page.</p>
  <a href="/" class="btn btn-primary">Go Back Home</a>
</div>
